@font-face {
    font-family: norseBold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    font-size: 16px;
    --logo-header-color: white;
    --logo-header-font: norseBold;
    --form-button-color: #596d48;
    --form-content-bg-color: rgb(243, 243, 243);
    --form-container-bg-color: white;
    --form-content-font: 'Roboto', sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.side-background-container {
    width: 30%;
    background-image: url("./images/background.jpg");
    background-size: cover;
}

.logo-banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120px;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    color: var(--logo-header-color);
    font-size: 5rem;
    font-family: var(--logo-header-font);
}

.form-content {
    width: 70%;
    padding-top: 5%;
    padding-left: 56px;
    background-color: var(--form-content-bg-color);
    position: relative;
}

.call-to-action-text {
    width: 60%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--form-content-font);
    margin-bottom: 36px;
}

.form-container {
    background-color: var(--form-container-bg-color);
    height: 240px;
    padding: 20px 56px 0 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-left: -56px;
}

#form-header {
    color:rgb(22, 22, 51);
    font-family: var(--form-content-font);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 24px 0;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    font-family: var(--form-content-font);
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    font-weight: bold;
}

input {
    width: 250px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-width: 1px;
    height: 22px;
    border-radius: 4px;
    padding-left: 5px;
}

.submit-button {
    margin-top: 30px;
}

.submit-button button {
    background-color: var(--form-button-color);
    padding: 12px 50px;
    color: var(--form-container-bg-color);
    border-color: var(--form-button-color);
    border-width: 0px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button p {
    font-family: var(--form-content-font);
}

#login-text {
    color: var(--form-button-color);
    font-weight: bold;
}

input:focus {
    outline: none;
    border: 1px solid rgb(110, 110, 217);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}
